{% extends "base.html" %}

{% block content %}

<div>
    <b>Shopping List</b>
    <form action="" method="post" novalidate >
        {{ new_ingredient.hidden_tag() }}
        <div>{{ new_ingredient.select() }}</div>
        <div>Quantity: {{ new_ingredient.quantity(size=32) }}</div>
        <div>Unit: {{ new_ingredient.unit(size=32) }}</div>
        <div>{{ new_ingredient.submit() }}</div>
    </form>
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
        {% for ingredient in selected_ingredients %}
        <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.unit }}</td>
            <td>
                <form action="/delete_selected_ingredient/id={{ ingredient.selected_id }}" method="post" novalidate >
                    {{ delete.submit() }}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<hr>

<div>
    <b>Recipes</b>
    <form action="" method="post" novalidate >
        {{ new_recipe.hidden_tag() }}
        <div>{{ new_recipe.select() }}</div>
        <div>{{ new_recipe.submit() }}</div>
    </form>
    <table>
        {% for recipe in selected_recipes %}
        <tr>
            <td><a href="/recipe/id={{ recipe.recipe_id }}">{{ recipe.name }}</a></td>
            <td>
                <form action="/delete_selected_recipe/id={{ recipe.id }}" method="post" novalidate >
                    {{ delete.submit() }}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<hr>

<div>
    <form action="" method="post" novalidate >
        {{ go.hidden_tag() }}
        <div>{{ go.go() }}</div>
    </form>
</div>

{% endblock %}