{% extends "base.html" %}

{% block content %}

<div>
    <form action="" method="post" novalidate >
        {{ form.hidden_tag() }}
        <div>Name: {{ form.name(size=32) }}</div>
        <div>Search: {{ form.search(size=32) }}</div>
        <div>Quantity: {{ form.quantity(size=32) }}</div>
        <div>Unit: {{ form.unit(size=32) }}</div>
        <div>{{ form.submit() }}</div>
    </form>
</div>

<table>
    <tr>
        <th>Ingredient Name</th>
        <th>Search Text</th>
        <th>Quantity</th>
        <th>Unit</th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.search }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>
            <form action="/delete_ingredient/id/{{ ingredient.id }}" method="post" novalidate >
                {{ delete.submit() }}
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}