{% extends "base.html" %}

{% block content %}

<b>Add Ingredient</b>
<form action="" method="post" novalidate >
    {{ new_ingredient.hidden_tag() }}
    <div>{{ new_ingredient.select }}</div>
    <div>Quanity: {{ new_ingredient.quantity }}</div>
    <div>Unit: {{ new_ingredient.unit }}</div>
    <div>{{ new_ingredient.submit }}</div>
</form>

<table>
    <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Unit</th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}